@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #e9f3ff;
}

.inputmtx {
	width: 50px;
	margin: 1px;
	text-align: center;
}

fieldset {
	padding: 10px;
	margin: 10px;
	background-color: #d8e2ee;
}

#pmatrixbtn {
	width: 100px;
}