@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
	font-family: arial, tahoma;
}

body {
	background-color: #d5e3ed;
}

a:link {
  color: #fff;
}

a:visited {
  color: #ccc;
}

a:hover {
  color: #55f;
}

a:active {
  color: yellow;
}

.inputmtx {
	width: 50px;
	margin: 1px;
	text-align: center;
}

fieldset {
	padding: 10px;
	margin: 10px;
	background-color: #b5dbea;
}

#pmatrixbtn {
	width: 100px;
}

#header tr {
	background-color: #1279c1;
	color: #fff;
}

#dmatrix-table td, #cmatrix-table td, #smatrix-table td{
	width: 50px;
	padding: 1px;
	text-align: center;
    background-color: aliceblue;
}

#pmatrix-table th, #dmatrix-table th, #cmatrix-table th, #smatrix-table th{
	padding: 1px;
	text-align: center;
    background-color: cadetblue;
    color: #fff;
    font-family: arial;
}
