<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="style/halfviz.css" type="text/css" charset="utf-8">
</head>
<body>



  <div id="halfviz">
    <canvas id="viewport" width="800" height="600"></canvas>
    <div id="editor">
      <textarea id="code"></textarea>  
    </div>
    <div id="grabber"></div>
  </div>  



  <script src="jquery-1.6.1.min.js"></script>
  <script src="jquery.address-1.4.min.js"></script>
  <script src="../lib/arbor.js"></script>
  <script src="graphics.js"></script>

  <!-- the halfviz source, broken out one ‘class’ per file -->
  <script src="src/dashboard.js"></script>
  <script src="src/help.js"></script>
  <script src="src/io.js"></script>
  <script src="src/parseur.js"></script>
  <script src="src/renderer.js"></script>
  
  <!-- the main driver code: start here -->
  <script src="src/halfviz.js"></script> 

  
</body>
</html>
